@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body,
h1,
.nav,
.promotion,
p,
h2,
h3 {
  margin: 0;
}

/* ---------- Header Properties ---------- */

header {
  background-color: pink;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;

  padding: .5em .5em 0;
}

.logo {
  display: inline-block;
  width: 25%;

  padding-bottom: .5em;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  padding: 0 0 .5em .35em;

  white-space: nowrap;
  font-family: Pacifico;
  font-size: 1.5rem;
}

header nav {
  display: block;
  width: 100%;

  z-index: 1000;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;

  display: inline-block;
  width: 15%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  padding: .5em;
}

.nav-close {
  display: none;
}

.nav {
  background-color: pink;

  display: none;
  width: 100%;
  position: absolute;
  left: 0;

  padding: 0;

  list-style-type: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

header li {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
}

header a {
  display: block;

  padding: .5em 0;
  border-color: white;
  border-style: solid;
  border-width: thin 0 0;

  font-family: Oswald;
  color: white;
}

header a:hover {
  background-color: grey;
}

/* ---------- Main Properties ---------- */

main {
  max-width: 38em;
  margin: auto;
}

/* ---------- Promotion Properties ---------- */

.promotion {
  position: relative;
}

.promotion figcaption {
  background-color: rgba(3, 3, 3, .2);

  position: absolute;
  bottom: .75em;
  right: .75em;
  width: 65%;

  padding: .5em;
  border-radius: .5em;
}

.promotion p,
.promotion small {
  display: inline-block;

  font-family: Oswald;
  color: white;
}

.promotion p {
  margin: 0 0 .25rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.promotion small {
  margin: 0 0 .75em;

  font-size: .75em;
}

.promotion a {
  display: inline-block;

  border-style: solid;
  border-width: medium;
  border-color: white;
  padding: .25em;

  color: white;
}

.promotion a:hover {
  background-color: #888;
}

/* ---------- Product Categories Properties ---------- */

.product-categories {
  display: flex;
  flex-wrap: wrap;

  padding: .5em;
}

.product-categories a {
  position: relative;
  width: 50%;

  padding: .5em;
}

.product-categories h2 {
  width: 100%;

  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);

  color: white;
  text-align: center;
}

/* ---------- Recipes Properties ---------- */

.recipes {
  padding: 1em .5em;
}

.recipes h2 {
  margin: 0 0 .5rem;

  font-family: Pacifico;
  font-size: 1.125rem;
  text-align: center;
}

.recipes h2 ~ p {
  text-align: center;
}

.recipes p {
  margin: 0 0 1.3rem;

  font-family: Oswald;
  font-size: 1em;
}

.recipe,
.button {
  display: block;
  width: 75%;

  padding: .5em;
  margin: auto auto 1.3rem;
  border-color: #aaa;
  border-width: thin;
  border-style: solid;
  border-radius: .5em;
}

.recipe:hover,
.button:hover {
  background-color: #ddd;
}

.recipes img {
  margin: 0 0 .5rem;
}

.recipes h3 {
  font-family: Oswald;
  margin: 0 0 .5rem;
}

.recipes h3,
.recipes p,
.button {
  color: black;
}

.button {
  font-family: Oswald;
  font-size: 1em;
  text-align: center;
}

/* ---------- About Properties ---------- */

.owner {
  margin: 0 0 1em;
}

.about p {
  font-family: Oswald;
}

/* ---------- Footer Properties ---------- */

footer {
  background-color: pink;
}

.social-media {
  display: flex;
  width: 50%;

  padding: 1rem 0;
  margin: 0 auto;

  list-style-type: none;
}

.social-media li {
  padding: .5em .75em;
}

footer small {
  display: block;

  padding-bottom: 1rem;

  font-family: Oswald;
  font-size: .75em;
  text-align: center;
}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (min-width: 25em) {
  /* ---------- Header Properties ---------- */

  .nav-check:checked ~ .nav {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-label {
    padding: .5em 1em .5em .5em;
  }

  header li {
    width: 50%;
  }

  li:nth-child(1) a,
  li:nth-child(3) a {
    border-width: thin thin 0 0;
  }

  /* ---------- Recipes Properties ---------- */

  .recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .recipe {
    margin: 0 0 1.3rem;
  }

  .recipe,
  .button {
    width: 45%;
  }

  /* ---------- About Properties ---------- */

  .owner {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  /* ---------- Header Properties ---------- */

  header {
    flex-direction: column;
    padding: .5em 0 0;
  }

  .logo {
    padding: 0;
    margin: 0 0 1rem;
  }

  h1 {
    padding: 0;
    margin: 0 0 1.4rem;
  }

  .nav-check,
  .nav-label {
    display: none;
  }

  .nav {
    display: flex;
    position: static;
  }

  li:nth-child(2) a {
    border-width: thin thin 0 0;
  }

  /* ---------- Promotion Properties ---------- */

  .promotion figcaption {
    bottom: 1.5em;
    right: 1.5em;
    width: 50%;
  }

  .promotion p {
    margin: 0 0 .5rem;
  }

  .promotion small {
    margin: 0 0 1em;
  }

  /* ---------- Product Categories Properties ---------- */

  .product-categories {
    padding: .75em 3em;
  }

  .product-categories a {
    padding: .5em;
  }

  /* ---------- Recipes Properties ---------- */

  .recipe {
    width: 30%;
  }

  /* ---------- About Properties ---------- */

  .about {
    text-align: center;
  }

  .owner {
    width: 45%;
    margin: 0;
    display: inline-block;
  }

  .about figcaption {
    width: 40%;
    display: inline-block;
    margin-left: 1em;
    text-align: left;
  }

  /* ---------- Footer Properties ---------- */

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .social-media {
    width: 20%;

    margin: 0;
    margin-right: .75rem;
    padding: 0;
  }

  .social-media li {
    padding: .5em .3em;
  }

  footer small {
    margin-left: 1rem;
    padding: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  /* ---------- Header Properties ---------- */

  header {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .logo,
  h1 {
    margin: 0;
  }

  .logo {
    padding: .5em;
    width: 10%;
  }

  h1 {
    padding-left: .5em;
  }

  header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    padding-right: 1em;
  }

  .nav {
    background-color: rgba(0, 0, 0, 0);
    position: static;
    width: 50%;
  }

  li:nth-child(1) a,
  li:nth-child(2) a,
  li:nth-child(3) a {
    border-width: 0 thin 0 0;
    padding: 0;
  }

  li:nth-child(4) a {
    border-width: 0;
    padding: 0;
  }

  header a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }

  /* ---------- Product Categories Properties ---------- */

  .product-categories {
    padding: .5em 0;
  }

  .product-categories a {
    width: 25%;
  }

  /* ---------- Footer Properties ---------- */

  .social-media {
    width: 13%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  /* ---------- Header Properties ---------- */

  .logo {
    width: 7%;
  }

  .nav {
    width: 40%;
  }

  /* ---------- Footer Properties ---------- */

  .social-media {
    width: 7%;
  }

}
